@model GetCategoryByIdQueryResult
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Güncelle</h1>

<form method="post">
    <input type="hidden"  asp-for="Id"/>
    <label>Kategori Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <button class="btn btn-dark">Güncelle</button>
</form>